<div role="form">
    <div class="box-body">
        <field id="name" label="Nome" grid="12 6 4" placeholder="Informe o Nome" model="cpCtrl.cicloPagamento.name"></field>
        <field id="month" label="Mês" grid="12 6 4" placeholder="Informe o Mês" model="cpCtrl.cicloPagamento.month" type="number"></field>
        <field id="year" label="Ano" grid="12 6 4" placeholder="Informe o Ano" model="cpCtrl.cicloPagamento.year" type="number"></field>
    </div> 
    
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="cpCtrl.create()" >Incluir</button>
        <button class="btn btn-info" ng-click="cpCtrl.update()">Alterar</button>
        <button class="btn btn-danger " ng-click="cpCtrl.delete()" >Excluir</button>    
        <button class="btn btn-default" ng-click="cpCtrl.refresh()">Cancelar</button>
    </div>

</div>
      